.home-container {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    position: relative;
  }
  
 
  .home-container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    max-width: 900px;
  
    margin: 0;
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 1.8rem;
  }
  
  .home-container h2{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 17%;
    

    margin: 0;
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    text-decoration: underline;

  }

  .badkidlogo {
    position: absolute;    /* se queda fija la imagen */
    top: 20px;             /* separación del borde superior */
    left: 40px;            /* separación del borde izq */
  
    width: 200px;          /*acomodar el logo*/
    height: auto;
  
    z-index: 2;            /*por encima del fondo*/
  }

  .uppermenu {
    position: absolute;     
    top: 20px;
    right: 40px;
  
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    list-style: none;
  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3em;
  }
  a{
    color: black;
  }
  a:link{
    color: black;
    text-decoration: none;
  }
    a:visited{
        color: black;
        text-decoration: none;
    }

    