.qscontainer {
    width: 100%;
    height: 100vh;
  
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  
    position: relative;
  }
  
  .qscontainer h1 {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
      
        margin: 0;
        text-align: justify;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 100;
        font-size: 1.8rem;
      }

      .uppermenu {
        position: absolute;     
        top: 20px;
        right: 40px;
      
        display: grid;
        grid-auto-flow: column;
        gap: 40px;
        list-style: none;
      
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.3em;
      }
      a{
        color: black;
      }
      a:link{
        color: black;
        text-decoration: none;
      }
        a:visited{
            color: black;
            text-decoration: none;
        }
    

      .texto-historia {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
      
        width: 800px;
        max-width: 120%;
        padding: 50px;
        font-size: 16px;
      }