.acontainer {
  width: 100%;
  height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.acontainer h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;
  text-align: justify;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1px;
}

.uppermenu {
position: absolute;     
top: 20px;
right: 40px;

display: grid;
grid-auto-flow: column;
gap: 40px;
list-style: none;

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 1.3em;
margin: 0;
padding: 0;
}

.uppermenu {
position: absolute;     
top: 20px;
right: 40px;

display: grid;
grid-auto-flow: column;
gap: 40px;
list-style: none;

font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 1.3em;
}
a{
color: black;
}
a:link{
color: black;
text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}

.directoriocolumnas  {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 columnas iguales */
  column-gap: 500px;               /* espacio entre columnas */
  row-gap: 14px; 
  top: 60%;
  left: 49%;
  transform: translate(-50%, -50%);

  margin: 0;
  text-align: left;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1px;
}